@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');

:root {
  --cl-accent: rgb(71, 228, 65);
  --cl-primary: rgb(46, 90, 235);
  --cl-primary-light: rgb(54, 101, 253);
  --cl-primary-dark: rgb(27, 68, 200);
  --cl-light: #ffffff;
  --cl-dark: #444;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 2fr 1fr 4fr 1fr;
  padding-bottom: 10rem;
}

.header {
  display: grid;
  justify-content: center;
  align-items: end;
  font-size: 2rem;
  &__title {
    width: auto;
    margin: 0;
    letter-spacing: 5px;

    &.show {
      animation: dash-in 1.2s cubic-bezier(0.7, -0.57, 0.27, 1.55);
      position: relative;
    }
    @keyframes dash-in {
      0% {
        right: 80vw;
      }
      100% {
        right: 0;
      }
    }
  }
  &__stage {
    font-size: 2rem;
    opacity: 0;
    &.show {
      animation: popup 0.7s cubic-bezier(0.79, -0.86, 0.23, 2.21) 1s forwards;
    }
    @keyframes popup {
      0% {
        font-size: 0.8rem;
      }
      100% {
        font-size: 2rem;
        opacity: 1;
      }
    }
  }
}
